.env
.env.*
!.env.example

venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

app.log
*.log

deploy.zip
deploy2.zip

.DS_Store
Thumbs.db
.vscode/
.idea/

.ipynb_checkpoints/
*.tmp
*.bak
~$*
